force-app/main/default/flows/Order_Confirmation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Order_Payment_Summary</name>
        <label>Create Order Payment Summary</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>AuthorizeAlternativePayment</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.OrderSummary.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>$Record.OrderSummary.GrandTotalAmount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>grandTotalAmount</name>
            <value>
                <elementReference>$Record.OrderSummary.GrandTotalAmount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentGateway</name>
            <value>
                <elementReference>Get_Payment_Gateway</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentMethod</name>
            <value>
                <elementReference>$Record.OrderSummary.Payment_type__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AuthorizeAlternativePayment</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <description>Order Confirmation flow for Alternative payments</description>
    <environments>Default</environments>
    <interviewLabel>Order Confirmation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Confirmation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Payment_Gateway</name>
        <label>Get Payment Gateway</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Order_Payment_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PaymentGatewayName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummary.Payment_type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PaymentGateway</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payment_Gateway</targetReference>
        </connector>
        <flowRunAsUser>DefaultWorkflowUser</flowRunAsUser>
        <object>OrderSummaryCreatedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
